<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<p th:if="${#lists.isEmpty(tasks)}">Нет задач для подтверждения.</p>
<table>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.description}"></td>
        <td th:text="${task.points}"></td>
        <td>
            <form th:action="@{/admin/confirm-task}" method="post">
                <input type="hidden" th:value="${task.id}" name="taskId">
                <button type="submit">Подтвердить</button>
            </form>
            <form th:action="@{/admin/reject-task}" method="post">
                <input type="hidden" th:value="${task.id}" name="taskId">
                <button type="submit">Отклонить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
