<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ООО "ГОРЭЛЕКТРОТРАНС"</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<table>
    <tr th:each="task : ${pendingTasks}">
        <td th:text="${task.description}"></td>
        <td th:text="${task.points}"></td>
        <td>
            <form th:action="@{/admin/confirm-task}" method="post">
                <input type="hidden" th:value="${task.id}" name="taskId">
                <button type="submit">Подтвердить</button>
            </form>
            <form th:action="@{/admin/reject-task}" method="post">
                <input type="hidden" th:value="${task.id}" name="taskId">
                <button type="submit">Отклонить</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
