<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>ООО "ГОРЭЛЕКТРОТРАНС"</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<div layout:fragment="content">
    <p>Приветствуем Вас, в системе управления базой данных</p>
    <h2>Транспорты</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>VIN</th>
            <th>Гаражный номер</th>
            <th>ИнфоТех</th>
        </tr>
        </thead>
        <tbody id="transports-table-body">
        <!-- Rows will be appended here by JavaScript -->
        </tbody>
    </table>

    <h2>Добавить транспорт</h2>
    <form id="transport-form">
        <div>
            <label for="vin">VIN:</label>
            <input type="text" id="vin" name="vin" required>
        </div>
        <div>
            <label for="garageNumber">Гаражный номер:</label>
            <input type="text" id="garageNumber" name="garageNumber" required>
        </div>
        <div>
            <label for="infoteh">ИнфоТех:</label>
            <input type="text" id="infoteh" name="infoteh" required>
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>
